body {
    background-color: aliceblue;

}

h1 {
    text-align: center;
    font-size: 40px;
    color: royalblue;
}

h2 {
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    text-align: right;
}

ul.a {
    list-style-type: none;
    font-size: 25px;
    font-family: Gadugi;
    color: gray;
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
    margin-right: auto;
}

button.button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

input.input-box {
    width: 25%;
    height: 25px;


}
